<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Application Pool Configuration -->
    <applicationPools>
      <add name="AI_Styler_Pool" 
           managedRuntimeVersion="" 
           processModel.identityType="ApplicationPoolIdentity"
           processModel.idleTimeout="00:20:00"
           processModel.maxProcesses="1"
           processModel.shutdownTimeLimit="00:01:30"
           processModel.startupTimeLimit="00:01:30"
           processModel.pingingEnabled="true"
           processModel.pingInterval="00:00:30"
           processModel.pingResponseTime="00:01:30"
           recycling.periodicRestart.time="00:00:00"
           recycling.periodicRestart.schedule="00:00:00"
           recycling.periodicRestart.memory="0"
           recycling.periodicRestart.requests="0"
           recycling.logEventOnRecycle="Time, Memory, PrivateMemory, Requests, Schedule, IsapiUnhealthy, OnDemand, ConfigChange, PrivateMemory" />
    </applicationPools>

    <!-- Site Configuration -->
    <sites>
      <site name="AI_Styler" id="1" serverAutoStart="true">
        <application path="/" applicationPool="AI_Styler_Pool">
          <virtualDirectory path="/" physicalPath="C:\inetpub\wwwroot\ai-styler" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:80:" />
          <binding protocol="https" bindingInformation="*:443:" />
        </bindings>
      </site>
    </sites>

    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <!-- Redirect HTTP to HTTPS -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" 
                  redirectType="Permanent" />
        </rule>

        <!-- Proxy to Go application -->
        <rule name="Proxy to Go App" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:8080/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Security Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>

    <!-- Compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/xml" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/xml" enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- Request Filtering -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" /> <!-- 50MB -->
        <fileExtensions>
          <add fileExtension=".exe" allowed="false" />
          <add fileExtension=".bat" allowed="false" />
          <add fileExtension=".cmd" allowed="false" />
          <add fileExtension=".com" allowed="false" />
          <add fileExtension=".scr" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>

    <!-- Default Document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Error Pages -->
    <httpErrors errorMode="Detailed" />

    <!-- Logging -->
    <httpLogging>
      <add logTargetW3C="File,ETW" />
    </httpLogging>

  </system.webServer>

  <!-- System Configuration -->
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <httpRuntime maxRequestLength="51200" executionTimeout="300" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>

</configuration>
